@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #1b1b1b;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
	width: 13px !important;
}

::-webkit-scrollbar-track {
	background-color: var(--white-color) !important;
}
::-webkit-scrollbar-thumb {
	background-color: #ece8b8 !important;
}
::-webkit-scrollbar-thumb:hover {
	background-color: hsl(58, 90%, 75%) !important;
}
/* 
.flashcard {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.6s ease;
}

.flashcard.isFlipped {
	transform: rotateY(180deg);
}

.front,
.back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transition: all 0.6s all;
	border-radius: 8px;
	text-align: center;
}

.back {
	transform: rotateY(180deg);
} */

/* Custom CSS */
@keyframes pulse {
	0% {
		opacity: 0.6;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.6;
	}
}

.custom-animation {
	animation-name: pulse;
	animation-duration: 1.1s; /* Change the duration as desired */
	animation-iteration-count: infinite;
}
